:root {
  --primary: #562C0F;
  --secondary: #CEBDAC;
  --active: #bda791;
  --active-sc: #774c2e;
  --hero-img-w: 40%;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 19px;
  color: #fff;
  font-family: 'Poppins';
  background-color: var(--primary);
  position: relative;
}

button {
  cursor: pointer;
}

.wrapper {
  height: 100vh;
  min-height: 700px;
  min-width: 300px;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.hero-img-sm {display: none;}

.hero-img-sm, .hero-img-bg {
  object-fit: cover;
  object-position: 50% 0;
}

.hero-img-bg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 90%;
  border: 10px solid var(--secondary);
  border-right: none;
  width: var(--hero-img-w);
  z-index: 1;
}

.btn-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--secondary);
  height: 80px;
  z-index: 1;
  pointer-events: none;
  transition: background-color 80ms linear;
}

.btn-container button {
  background-color: transparent;
  border: none;
  outline: none;
  width: calc(100% - var(--hero-img-w));
  height: 100%;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary);
  padding: 0;
  position: relative;
  cursor: pointer;
  pointer-events: auto;
}

.btn-container button i {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.1rem;
}

.btn-container:hover {
  background-color: var(--active);
}

.main-col {
  --mar-right: 300px;
  --mar-left: 130px;
  width: calc((100% - var(--hero-img-w)) - (var(--mar-left) + var(--mar-right)));
  height: 100%;
  margin: 0 var(--mar-right) 80px var(--mar-left);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.main-col h1, .main-col h2, .main-col h3 {
  margin: 0;
}

.home {
  color: var(--secondary);
  font-weight: 900;
  font-family: 'Poppins';
  text-decoration: none;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper::before {
  content: '';
  height: 5%;
  display: block;
}

.fa-solid.fa-paw {
  margin-right: 5px;
}

.hero-text {
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 1.2;
}

h3.suggestion-que {
  font-weight: 200;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.sug-box {
  margin-top: 100px;
}

.suggestion {
  font-weight: 500;
  font-size: 1.4rem;
}

.bg-text {
  font-size: 14rem;
  line-height: 1;
  font-weight: 700;
  position: fixed;
  opacity: .05;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  user-select: none;
  z-index: 0;
}

@media screen and (max-height: 840px) {
  .sug-box {margin-top: 40px;}
  h3.suggestion-que {margin-bottom: 8px;}
  html, body {font-size: 18px;}
}

@media screen and (max-height: 750px) {
  html, body {font-size: 17px;}
}


@media screen and (max-width: 1800px) {
  html, body {font-size: 17px;}
  .main-col {
    --mar-right: 200px;
    --mar-left: 90px;
  }
}

@media screen and (max-width: 1300px) {
  html, body {font-size: 15px;}
  :root {--hero-img-w: 50%;}
  .main-col {
    --mar-right: 80px;
    --mar-left: 40px;
  }
}

@media screen and (max-width: 975px) {
  html, body {font-size: 13px;}

  .main-col {
    --mar-right: 40px;
    --mar-left: 40px;
  }

  .hero-text {
    font-size: 4rem;
  }

  .sug-box {
    margin-top: 50px;
  }
}

/* SECNDARY CLIPPED PARTAL BG UNDER HERO IMG */
.sug-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100vw;
  min-width: 300px;
  transform: translateX(-50%);
  background-color: var(--secondary);
  clip-path: polygon(0 20%, 100% 60%, 100% 100%, 0% 100%);
  z-index: -2;
  display: none;
  transition: clip-path 80ms linear;
}

.sug-box::after {
  min-width: 300px;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-1px);
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary);
  z-index: -2;
  display: none;
}

@media screen and (max-width: 700px) {

  html, body {
    font-size: 15px;
    overflow-x: auto;
  }

  .home { position: static; }
  .wrapper::before { display: none; }
  .hero-text { font-size: 3.3rem; }
  .hero-img-bg { display: none; }
  
  img.hero-img-sm {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 12px solid var(--secondary);
    object-fit: cover;
  }

  .btn-container button { width: 100%; }
  .btn-container {
    background-color: #fff;
    height: 70px;
  }

  .main-col {
    width: 80%;
    max-width: 400px;
    margin: 30px auto 70px;
    justify-content: space-between;
  }

  .main-col > * {
    width: 100%;
    text-align: left;
  }

  .sug-box {
    color: var(--primary);
    width: 100%;
    margin: 0;
    position: relative;
  }

  .sug-box::before, .sug-box::after {display: inline;}

  .main-col::after {
    content: '';
    display: block;
  }

  h3.suggestion-que {
    margin-bottom: 8px;
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .suggestion { font-size: 1.3rem; }
  .bg-text {
    font-size: 9rem;
    top: 50%;
    left: 50%;
    line-height: 1.2s;
    transform: translateY(-100%) translateX(-50%);
  }

}

@media screen and (max-width: 330px) {
  .sug-box::before { clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0% 100%); }
}

@media screen and (max-width: 700px) and (max-height: 880px) {

  .main-col {
    margin-top: 20px;
  }

  html, body {
    font-size: 13px;
  }

  h3.suggestion-que {
    margin-top: 5px;
  }

  .hero-text {
    font-size: 3rem;
  }

  .hero-img-sm {
    height: 350px;
  }
}

.popup-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: auto;
  transition: opacity .15s linear;
}

.popup-dimm {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 90;
}

.popup-wrapper.active {
  display: flex;
}

.popup {
  width: 90%;
  background-color: #fff;
  padding: 60px 30px;
  box-sizing: border-box;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  max-width: 800px;
  text-align: center;
  min-width: 300px;
  z-index: 100;
}

.popup-title, .popup-desc {
  margin: 0;
  margin-bottom: 15px;
}

.popup-title {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 10px;
}

.popup-title i {
  opacity:  0.5;
  transition: opacity 100ms linear;
  cursor: pointer;
}
.popup-title i:hover {opacity: 1;}

.popup-desc {
  font-size: 1rem;
  font-weight: 400;
}

.popup-label {
  margin: 10px 0;
  font-size: .9rem;
}

.popup-input, .popup-submit {
  border: none;
  background-color: #CEBDAC;
  border-radius: 0;
  padding: 12px;
  margin-bottom: 10px;
  font-family: 'Poppins';
}

.popup-input {
  text-align: center;
  font-size: 1rem;
}

.popup-input::placeholder {
  color: var(--active-sc);
}

.popup-submit {
  background-color: var(--primary);
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  transition: background-color 80ms linear;
}

.popup-submit:hover {
  background-color: var(--active-sc);
}

@media screen and (min-width: 600px) {
  .popup {
    padding: 60px;
    text-align: left;
  }

  .popup-input {
    text-align: left;
    font-size: .8rem;
  }

  .popup-title {
    flex-direction: row;
    gap: 0;
  }
  
}
